<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>登录页面</title>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-3.3.7/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/layout/assets.css}">
    <link rel="stylesheet" th:href="@{/css/layout/layout.css}">
    <link rel="stylesheet" th:href="@{/css/plugs/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/plugs/style.css}">
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
</head>
<body>
<!--[if lte IE8]>
<p>浏览器版本太低，请
    <a target="_blank" href="http://www.browsehappy.com">升级</a>
    为最新的ie浏览器！
</p>
<![endif]-->
<div class="ct-container col-md-12">
    <header class="share-header col-md-12"></header>
    <div class="register-login-content col-md-12">
        <div class="paper-content">
            <header class="paper-header">
                 <span th:unless="${param.error}">
                    登录
                </span>
                <span th:if="${param.error}">
                    用户名或密码错误
                </span>
            </header>
            <form method="post" th:action="@{/login}">
                <ul class="form-place col-md-12" id="formplace">
                    <li style="margin-top:25px">
                        <div class="user-div">
                            <input name="username" id="accountName" type="text" placeholder="用户名/邮箱">
                        </div>
                        <span class=""></span>
                    </li>
                    <li>
                        <div class="password-div">
                            <input name="password" autocomplete="on" id="password" type="password"
                                   placeholder="密码">
                        </div>
                        <span class=""></span>
                    </li>
                    <li>
                        <div id="recaptchaContainer" style="transform:scale(0.8);transform-origin:0 0">
                            <div class="g-recaptcha" data-sitekey="6Ldi6ZEUAAAAACD_KMbxjsFiOaI7kGKzww-KPn89" data-callback="recaptchaCallback"></div>
                        </div>
                    </li>
                    <li>
                        <button type="submit" disabled="disabled"
                                class="button button-caution button-box button-raised button-giant" id="submitbutton">
                            <i class="fa">登录</i>
                        </button>
                        <button type="reset" class="button button-caution button-box button-raised button-giant"
                                id="resetbutton">
                            <i class="fa">重置</i>
                        </button>
                    </li>

                    <li class="alert-box">
                        <input type="checkbox" checked="checked" id="remember-me" name="remember-me"/>
                        <label for="remember-me"></label>
                        <p>记住密码</p>
                        <button type="button" class="button button-caution button-box button-raised button-giant"
                                id="forgetPwdBtn">
                            <i class="fa">忘记密码</i>
                        </button>
                        <button type="button" class="button button-caution button-box button-raised button-giant"
                                id="registerBtn">
                            <i class="fa">注册</i>
                        </button>
                    </li>
                </ul>
            </form>
        </div>

    </div>

    <footer class="share-footer col-md-12"></footer>

    <div class="error-box" id="error-box">
        <p class="error-info" id="error-info">出错了</p>
    </div>
</div>
</body>
<script th:src="@{/plugins/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/login.js}"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</html>