<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>开始租用</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-3.3.7/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/start_rent_in.css}">
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h2 class="text-primary"><em>物品租用</em></h2>
    </div>
    <div class="btn-group pull-right">
        <button class="btn btn-primary glyphicon glyphicon-th" data-toggle="dropdown" title="列">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="dropdownMenu1">
            <!--<li>
                <label>
                    <input type="checkbox" checked="checked">ID
                </label>
            </li>-->
        </ul>
        <button class="btn btn-warning glyphicon glyphicon-refresh" id="refreshBtn" title="刷新"></button>
    </div>
    <div class="table-responsive" id="tableBlock">
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th></th>
                <th><input type="checkbox" title="全选" id="selectAllCheckBox"/></th>
                <th>编号</th>
                <th>类别名称</th>
                <th>物品名称</th>
                <th>所有者</th>
                <th>押金</th>
                <th>租金(rmb/day)</th>
                <th>状态</th>
                <th>应还日期</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vo, stat: ${stuffInVOList}">
                <input name="inputStuffId" type="hidden" th:value="${vo.id}"/>
                <td class="text-center">
                    <span class="detail glyphicon glyphicon-plus" title="详情"></span>
                </td>
                <td><input type="checkbox" class="single-checkbox" title="select"></td>
                <td th:utext="${stat.index + 1}"></td>
                <td th:utext="${vo.categoryName}"></td>
                <td th:utext="${vo.stuffName}"></td>
                <td th:utext="${vo.ownerName}"></td>
                <td th:utext="${vo.deposit}"></td>
                <td th:utext="${vo.rental}"></td>
                <td th:utext="${vo.status.getName()}"></td>
                <td th:utext="${vo.shouldReturnDate}"></td>
                <td th:if="${vo.status.getCode() == 0}">
                    <a href="javascript:void(0)" class="btn btn-primary rentBtn" data-toggle="modal"
                       data-target="#rentModal">租用</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav class="text-center">
        <ul class="pagination">
            <li class="previous"><a href="#"><span>&laquo;</span></a></li>
            <li class="active number"><a href="#">1</a></li>
            <li class="number"><a href="#">2</a></li>
            <li class="number"><a href="#">3</a></li>
            <li class="number"><a href="#">4</a></li>
            <li class="number"><a href="#">5</a></li>
            <li class="number"><a href="#">6</a></li>
            <li class="next"><a href="#"><span>&raquo;</span></a></li>
        </ul>
    </nav>
</div>
<!--rent modal-->
<div class="modal fade" id="rentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">租用</h4>
            </div>
            <div class="modal-body">
                <form id="addForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="inputRentDay" class="col-sm-2 control-label">租用天数</label>
                        <div class="col-sm-3">
                            <input id="inputRentDay" name="rentDay" class="form-control" placeholder="租用天数"
                                   title="租用天数" autofocus required/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="rentSubmitBtn">租用</button>
            </div>
        </div>
    </div>
</div>
<!--hint modal-->
<div class="modal fade" id="hintModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">信息</h4>
            </div>
            <div class="modal-body">
                <h5><span id="hintContent"></span></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">知道了</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/plugins/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
<script th:src="@{/plugins/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/start_rent_in.js}"></script>
</body>
</html>