<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.thinkam.rentx.web.dao.mapper.ItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="priv.thinkam.rentx.web.dao.entity.Item">
    <result column="id" property="id" />
    <result column="add_user_id" property="addUserId" />
    <result column="add_time" property="addTime" />
    <result column="update_user_id" property="updateUserId" />
    <result column="update_time" property="updateTime" />
    <result column="mark" property="mark" />
        <result column="user_id" property="userId" />
        <result column="stuff_id" property="stuffId" />
        <result column="approval_time" property="approvalTime" />
        <result column="pay_time" property="payTime" />
        <result column="rent_day" property="rentDay" />
        <result column="end_time" property="endTime" />
        <result column="apply_time" property="applyTime" />
        <result column="status" property="status" />
        <result column="add_date" property="addDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        add_user_id,
        add_time,
        update_user_id,
        update_time,
        mark,
        user_id, stuff_id, approval_time, pay_time, rent_day, end_time, apply_time, status, add_date
    </sql>

</mapper>
