<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>租用日统计</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-3.3.7/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker-1.8.0/css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h2 class="text-primary"><em>租用日统计</em></h2>
    </div>
    <div class="form-inline">
        <form th:action="@{/items/daily-stats}" th:method="post">
            <label>创建日期：
                <input name="beginAddDate" th:value="${itemDailyStatsApiParam?.beginAddDate}" class="datePicker"/>
            </label>
            <label>
                &nbsp;-&nbsp;
                <input name="endAddDate" th:value="${itemDailyStatsApiParam?.endAddDate}" class="datePicker"/>
            </label>
            &nbsp;
            <label for="categorySelect">类别：</label>
            <select id="categorySelect" name="categoryId">
                <option value="">请选择</option>
                <option th:value="${categorySelectMap.key}" th:text="${categorySelectMap.value}"
                        th:each="categorySelectMap: ${categorySelectIdNameMap}"
                        th:selected="${itemDailyStatsApiParam?.categoryId == categorySelectMap.key}"></option>
            </select>
            &nbsp;
            <label for="statusSelect">状态：</label>
            <select id="statusSelect" name="status">
                <option value="">请选择</option>
                <option th:value="${statusStatus.value}" th:text="${statusStatus.name}"
                        th:each="statusStatus: ${statusSelectList}"
                        th:selected="${itemDailyStatsApiParam?.status == statusStatus.value}"></option>
            </select>
            &nbsp;
            <button class="button">查询</button>
        </form>
    </div>
    <div class="btn-group pull-right">
        <button class="btn btn-primary glyphicon glyphicon-th" data-toggle="dropdown" title="列">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="dropdownMenu1">
            <!--<li>
                <label>
                    <input type="checkbox" checked="checked">ID
                </label>
            </li>-->
        </ul>
        <button class="btn btn-warning glyphicon glyphicon-refresh" id="refreshBtn" title="刷新"></button>
    </div>
    <div class="modal fade" id="addDiv">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <h4 class="text-center">add user</h4>
                </div>
                <form action="#" method="post">
                    <div class="modal-body form-group">
                        <label for="usernameInput">username</label>
                        <input type="text" id="usernameInput" name="username">
                    </div>
                    <div class="modal-body form-group">
                        <label for="passwordInput">password</label>
                        <input type="password" id="passwordInput" name="password">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal">
                            summit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive" id="tableBlock">
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th></th>
                <th>编号</th>
                <th>类别</th>
                <th>创建日期</th>
                <th>状态</th>
                <th>总数</th>
                <th>押金总额</th>
                <th>租金总额</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stats, stat: ${dailyStatsList}">
                <td class="text-center">
                    <span class="detail glyphicon glyphicon-plus" title="详情"></span>
                </td>
                <td th:text="${stat.index + 1}"></td>
                <td th:text="${categorySelectIdNameMap[stats.categoryId]}"></td>
                <td th:text="${stats.addDate}"></td>
                <td th:text="${stats.status.getName()}"></td>
                <td th:text="${stats.totalCount}"></td>
                <td th:text="${stats.totalDeposit}"></td>
                <td th:text="${stats.totalRental}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--<nav class="text-center">-->
    <!--<ul class="pagination">-->
    <!--<li class="previous"><a href="#"><span>&laquo;</span></a></li>-->
    <!--<li class="active number"><a href="#">1</a></li>-->
    <!--<li class="number"><a href="#">2</a></li>-->
    <!--<li class="number"><a href="#">3</a></li>-->
    <!--<li class="number"><a href="#">4</a></li>-->
    <!--<li class="number"><a href="#">5</a></li>-->
    <!--<li class="number"><a href="#">6</a></li>-->
    <!--<li class="next"><a href="#"><span>&raquo;</span></a></li>-->
    <!--</ul>-->
    <!--</nav>-->
</div>
<script th:src="@{/plugins/jquery-3.2.1/jquery-3.2.1.min.js}"></script>
<script th:src="@{/plugins/moment-2.24.0/moment.min.js}"></script>
<script th:src="@{/plugins/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/bootstrap-datepicker-1.8.0/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/plugins/bootstrap-datepicker-1.8.0/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/item_daily_stats.js}"></script>
</body>
</html>