<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.thinkam.rentx.admin.dao.mapper.UserMapper">

    <select id="list" resultType="priv.thinkam.rentx.admin.dao.entity.User">
        select
        <include refid="Base_Column_List"/>
        from user
        where mark=1;
    </select>

</mapper>
